    <!-- Begin Page Content -->
    <div class="container-fluid vh-100 d-flex align-items-center justify-content-center">

      <!-- 404 Error Text -->
      <div class="text-center">
          <div class="error mx-auto" data-text="404">404</div>
          <p class="lead text-gray-800 mb-5">Səhifə Tapılmadı</p>
          <a href="index.html">&larr; Əsas səhifəyə qayıt</a>
      </div>

  </div>
  <!-- /.container-fluid -->

  <footer class="sticky-footer bg-white w-100">
    <div class="container my-auto">
      <div class="copyright text-center my-auto">
        <span>Copyright &copy; Mərkəzi Stomatologiya {{year.getFullYear()}}</span>
      </div>
    </div>
  </footer>
