<div class="container">
  <div class="card shadow m-3 mt-5 row modal-body">
    <div class="card-header py-3 d-flex justify-content-between align-items-center">
      <h2 class="m-0 font-weight-bold text-primary">İxtisas Siyahısı</h2>
      <button class="btn btn-primary m-3" id="addStaff" (click)="showForm('add',undefined)" data-toggle="modal"
        data-target="#formModal"><i class="icon-plus mr-1"></i> Yeni ixtisas əlavə et </button>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">No#</th>
          <th scope="col">İxtisas</th>
          <th scope="col">Yaranma Tarixi</th>
          <th scope="col">Əməliyyatlar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let spec of specis">
          <th scope="row">{{ spec.ind}}</th>
          <td> {{spec.name}} </td>
          <td> {{spec.createdAt| date: "dd MMM,YYYY"}} </td>
          <th class="btn-group w-100">
            <button class="btn btn-sm btn-success text-light" (click)="showForm(type.update, spec.id)"
              data-toggle="modal" data-target="#formModal">
              <i class="fas fa-edit mr-2"></i>
              <span>Redaktə et</span>
            </button>
            <button class="btn btn-sm btn-danger text-light" (click)="deleteSpec(spec,i)">
              <i class="fas fa-edit mr-2"></i>
              <span>Sil</span>
            </button>
          </th>
        </tr>
      </tbody>
    </table>
    <div class="d-flex justify-content-between p-2">
      <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
        (pageChange)="refreshAppointments()">
      </ngb-pagination>

      <select class="custom-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshAppointments()">
        <option [ngValue]="2">2 məlumatla səhifələ</option>
        <option [ngValue]="4">4 məlumatla səhifələ</option>
        <option [ngValue]="6">6 məlumatla səhifələ</option>
      </select>
    </div>

  </div>
 
 
  <div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="formModalLabel">{{formTitle}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div id="specForm">
          <div class="p-3  mx-3">
            <h4 class="text-primary"> </h4>
            <form [formGroup]="specForm" (ngSubmit)="submit(formType)" enctype="multipart/form-data">
              <div class="form-floating mb-3">
                <input type="text" class="form-control" formControlName="name" placeholder="Ad"
                  [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
                <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                  <div *ngIf="f.name.errors.required">Ad boş ola bilməz</div>
                  <div *ngIf="f.name.errors.maxlength">Ad maksimum 100 simvol ola bilər</div>
                </div>
                <label for="name">İxtisas</label>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Imtina et</button>
                <button type="submit" class="btn btn-outline-primary mr-3">{{submitBtn}}</button>
              </div>
            </form>

          </div>
        </div>

      </div>
    </div>
  </div>