<body class="bg-gradient-primary vh-100">

  <div class="container">

      <!-- Outer Row -->
      <div class="row justify-content-center">

          <div class="col-xl-10 col-lg-12 col-md-9">

              <div class="card o-hidden border-0 shadow-lg my-5">
                  <div class="card-body p-0">
                      <!-- Nested Row within Card Body -->
                      <div class="row">
                          <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
                          <div class="col-lg-6">
                              <div class="p-5">
                                  <div class="text-center">
                                      <h1 class="h4 text-gray-900 mb-2">Şifrəni unutmusunuz?</h1>
                                      <p class="mb-4">Sadəcə e-poçtunuzu daxil edin və Sizə göndərilən linklə şifrənizi yeniləyin!</p>
                                  </div>
                                  <form class="user" [formGroup]="recoverForm" (ngSubmit)="submit()">
                                      <div class="form-group">
                                          <input type="email" class="form-control form-control-user"
                                              aria-describedby="emailHelp" formControlName="email"
                                              placeholder="E-poçtunuz daxil edin..." [ngClass]="{ 'is-invalid': submitted && recoverForm.controls.email.errors }">
                                              <div *ngIf="submitted && recoverForm.controls.email.errors" class="invalid-feedback">
                                                <div *ngIf="recoverForm.controls.email.errors.required">E-poçt boş ola bilməz</div>
                                                <div *ngIf="recoverForm.controls.email.errors.email">Düzgün e-poçt daxil edin</div>
                                                <div *ngIf="recoverForm.controls.email.errors.maxlength">E-poçt 50 xarakter ola bilər</div>
                                              </div>
                                      </div>
                                      <button class="btn btn-primary btn-user btn-block">
                                          Şifərni yenilə
                                      </button>
                                  </form>
                                  <hr>
                                  <div class="text-center">
                                      <a class="small" [routerLink]="['../register']">Yeni hesab yarat!</a>
                                  </div>
                                  <div class="text-center">
                                      <a class="small" [routerLink]="['../login']">Artıq keydiyyatdan keçmisən? Daxil ol!</a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

          </div>

      </div>

  </div>

</body>
