<div class="container">
  <div class="row">
    <div class="col-12 mb-5 mt-3 d-flex justify-content-between">
      <h2 class="text-secondary m-0">Xidmətlər</h2>
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary shadow-lg" data-toggle="modal" data-target="#formModal"
        (click)="formType(true,undefined)">
        Yeni xidmət əlavə et
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="empty-list text-center" *ngIf="serviceList.length==0">
        <p>Xidmət siyahısı boşdur. Yeni xidmət əlavə edin.</p>
      </div>
      <div class="card mb-3" *ngFor="let item of serviceList;let i =index">
        <div class="row g-0">
          <div class="col-md-4 d-flex">
            <div class="icon-box"><span class="{{item.icon}}"></span></div>
            <img [src]='item.imgPath' *ngIf="item.imgPath!=null">
            <div class="img-filler" *ngIf="item.imgPath==null">Şəkil yoxdur</div>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title m-0 font-weight-bold  d-flex justify-content-between">{{item.name}}
                <span>
                  <button class="btn btn-sm btn-success text-light mr-2 fas fa-edit" (click)="formType(false,item)"
                    data-toggle="modal" data-target="#formModal"></button>
                  <button class="btn btn-sm btn-danger text-light fas fa-trash-alt"
                    (click)="deleteService(item,i)"></button>
                </span>
              </h5>
              <p>{{item.description}}</p>
              <p class="text-right">{{item.createdAt | date:'dd.MM.yyyy'}}</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>




  <!-- Modal -->
  <div class="modal fade" id="formModal" tabindex="-1" aria-labelledby="formModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title text-primary" id="formModalLabel">{{formTitle}}</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form (ngSubmit)="submit()" [formGroup]="serviceForm">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" formControlName="name" placeholder="Xidmət"
                [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
              <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                <div *ngIf="f.name.errors.required">Xidmət adı boş ola bilməz</div>
                <div *ngIf="f.name.errors.maxlength">Xidmət adı maksimum 100 simvol ola bilər</div>
              </div>
              <label for="name">Xidmət</label>
            </div>
            <div class="form-floating mb-3">
              <textarea class="form-control" formControlName="description" placeholder="Melumat"
                [ngClass]="{ 'is-invalid': submitted && f.description.errors }"></textarea>
              <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                <div *ngIf="f.description.errors.required">Məlumat boş ola bilməz</div>
                <div *ngIf="f.description.errors.maxlength">Məlumat maksimum 500 simvol ola bilər</div>
              </div>
              <label for="description">Məlumat</label>
            </div>
            <div class="form-floating mb-3">
              <p>
                <button class="btn btn-outline-primary text-start w-100" type="button" data-toggle="collapse"
                  href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                  Ikon seçin
                </button>
              </p>
              <div class="collapse" id="collapseExample">
                <div class="card card-body">
                  <div class="d-flex justify-content-center mr-2 flex-wrap">
                    <div class="btn-group btn-group-toggle flex-wrap" data-toggle="buttons">
                      <label class="btn btn-light icon-option" *ngFor="let icon of iconList">
                        <input type="radio" name="options" id="{{icon}}"><span class="{{icon}}"></span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="mb-3">
              <div id="img-file">
                <label class="form-control d-flex align-items-center py-4"
                  [ngClass]="{ 'is-invalid': submitted && f.description.errors }">
                  <input type="file" (change)="onSelectFile($event)" accept="image/*" formControlName="imgPath" />
                  <span class="fa fa-camera mx-2"></span>
                  <span class="overflow-hidden">{{this.fileName}}</span>
                </label>
                <p class="d-none" id="fileProgress">
                  <ngb-progressbar type="success" textType="white" [value]="progressFile" [striped]="true"
                    [animated]="true">
                    <span>yüklənir...</span>
                  </ngb-progressbar>
                </p>
                <div *ngIf="submitted && f.imgPath.errors" class="invalid-feedback">
                  <div *ngIf="f.imgPath.errors.required">Şəkil boş ola bilməz.</div>
                </div>
              </div>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary text-light" data-dismiss="modal">Bağla</button>
              <button type="submit" class="btn btn-primary">{{submitBtn}}</button>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>
